
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgb(111, 222, 111);
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
      }
 html {
    font-size: 100%;
    font-family:"Poppins", sans-serif; 
 }
.site-title {
    font-size: 20px;
}
 

 h1{
    font-weight:200%;
 }
p {
   font-size: 24px;
}

img, video {
    max-width: 100%;
    height: auto;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li{
  display: inline-block;
  margin-right: 30px;
}


